*{
	margin: 0px;
	padding: 0px;

}
html{
		background-color: #ffb8b8;
}
.pantalla{
	width: 80%;
	height: 50px;
	position: fixed;
	top: 0px;
	margin-left: 10%;
	background-color: 	#ED4C67;
}

.contenedor{
	position: fixed;
	top: 50px;
	width: 80%;
	margin-left: 10%;
	margin-top: 25px;
	background: #6F1E51;
}
	.fila{
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: space-around;
	}
	.asiento{
		width: 50px;
		height: 100%;
		color: #ffffff;
		text-align: center;
		line-height: 15px;
		cursor: pointer;
		transition: .2s all;
	}
		.asiento>i{
			font-size: 1.2em;
		}
		.asiento>h4{
			font-size: .7em;
		}
	.asiento:haver{
		color: #747d8c;
	}