* {
	margin: 0px;
	padding: 0px;
}


.container {
	width: 100%;
	height: 100vh;
	padding-top: 3%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

}

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.form label {
	margin-bottom: 15px;
}

.form label p {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-bottom: 5px;
}

.form label input {
	border-radius: 5px;
	height: 10px;
	border: 1px solid rgb(75, 75, 75);
	outline: none;
	padding: 10px;
}

form button {
	width: 100%;
	height: 25px;
	border-radius: 5px;
	outline: none;
	color: #fff;
	background-color: #6D214F;
	border-color: #6D214F;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #000;
}



form button:hover {
	color: #fff;
	background-color: #157347;
	border-color: #146c43;
}


form button:focus {
	color: #fff;
	background-color: #157347;
	border-color: #146c43;
	box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 50%);
}

form .buscarContacto {
	margin-top: 10px;
	width: 100%;
	height: 25px;
	border-radius: 5px;
	outline: none;
	color: #fff;
	background-color: #833471;
	border-color: #833471;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #000;
}

form .buscarContacto:hover {
	color: #fff;
	background-color: #0a58ca;
	border-color: #0a58ca;

}

form .buscarContacto:focus {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.contacto--container {
	margin-left: 25px;
	padding-left: 10px;
	width: 15%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: #b4b4b4;
	border-radius: 10px;
}

.editar {
	position: relative;
	float: right;
	color: green;
	cursor: pointer;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.datos--container p {
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.datos--container .respuesta {
	font-family: 'Roboto', sans-serif;
}